body {
  margin: 0;
  text-align: center;
}

h1 {
  color: #027373;
  font-size: 600%;
  font-family: 'Architects Daughter', cursive;
}

h2 {
  color: #027373;
  font-size: 500%;
  font-family: 'Quicksand', sans-serif;
}

h3 {
  color: #A9D9D0;
  font-size: 400%;
  font-family: 'Architects Daughter', cursive;
}

p {
  color: #F2E7DC;
  width: 60%;
  font-size: 200%;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  margin: 50px auto;
}

.header {
  background-color: #F2E7DC;
  height: 500%;
  padding-top: 50px;
}

.self {
  width: 30%;
  margin: 20px auto;
}

.contents {
  background-color: #027373;
  padding-top: 20%;
  padding-bottom: 20%;
  color: #A9D9D0;
}

.contacts {
  background-color: #0D0D0D;
  height: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.ends {
  padding-top: 50px;
  background-color: #0D0D0D;
  height: 4000px;
}

.endtext {
  padding-top: 3700px;
}
